<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jt.manager.mapper.ItemCatMapper">
	
	<!--根据分类ID查询分类名称  -->
	<select id="findItemCatName" resultType="string">
		select name from tb_item_cat where id = #{itemid}
	</select>
</mapper>